@media screen {
    #progressBar {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        font-size: 0;
        line-height: 0;
        height: 2px;
        background-color: rgb(248, 40, 0);
        opacity: 0;
        display: none;
    }

    #progressBar::before,
    #progressBar::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 12px;
        background-color: rgb(248, 40, 0);
        background-image: -moz-linear-gradient(0deg, rgb(248, 40, 0) 0%, rgb(177, 0, 23) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(248, 40, 0) 0%, rgb(177, 0, 23) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(248, 40, 0) 0%, rgb(177, 0, 23) 100%);
        background-image: linear-gradient(90deg, rgb(248, 40, 0) 0%, rgb(177, 0, 23) 100%);
    }

    #progressBar::before {
        width: 8px;
        box-shadow: 0 0 3px 1px rgba(248, 40, 0, .3);
    }
}